#navbar{
    overflow: auto;
}
#navbar a  {
    text-decoration: none;
    padding: 12px;
    
    color: black;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar .left{
    float: left;
}
#navbar .right{
    float: right;
}
#navbar label{
    font-size: 1rem;
    position: relative;

}
span {
color: crimson;
}

#product{
    overflow: auto;
}
.card {

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    float:left;
    margin: 1% 2%;
    text-align: center;
    border-style: outset;
    font-family: arial;

}

.card h1{
    text-transform: uppercase;
    font-size:1rem;
}
.card .description{
    font-size:0.5rem;
}
.price {
    color: grey;
    font-size: 15px;
}

.card button {
    border: none;
    outline: 0;
    border-radius:15%;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}